.bar{
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0.63rem;
  height: 50cqh;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 20cqh;
  max-height: 1.25rem;

  div{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px;
  }
}

$border-radius: 50px;

.blackBar{
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  background-color: #3C3C3C;
  color: white;
  justify-content: right;
}

.drawBar{
  background-color: #6B6B6B;
  color: white;
  justify-content: center;
}

.whiteBar{
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  background-color: #BCBCBC;
  color: #3C3C3C;
  justify-content: left;
}