@import '../../../styles/Variables.module.scss';

$border-radius: 3px;

.button{
  aspect-ratio: 1/1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 100%;

  .image{

    border-radius: $border-radius;
    height: 3rem;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}