@import '../../../styles/Variables.module.scss';

.parent{
  flex: 0 0 10%;
  font-size: 2.3cqh;
  width: 100%;
  height: $sidebar-section-height;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  box-sizing: border-box;
  align-items: center;

  p{
    
    // margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 1.88rem;
  }

  .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .button{
      flex: 0 0 10px;
      aspect-ratio: 1/1;
      margin: 0 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span{
        font-size: 2cqh;
        text-align: center;
        display: flex;
        align-items: center;
      }
    }

    .buttonText{
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

  }

}





