@import '../../../styles/Variables.module.scss';

.parent{
  flex: 0 0 135px;
  font-size: 30px;
  width: 100%;
  height: $sidebar-section-height;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;

  p{
    text-align: center;
    display: flex;
    align-items: center;
    // margin-right: 5px;
  }
}

.container{
  display: flex;
  align-items: center;

}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonText{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
}