@import '../../styles/Fonts.scss';
@import '../../styles/Variables.module.scss';

$border-radius: 10px;

:export{
  borderRadius: $border-radius
}

.container{
  container-type: size;
  box-sizing: border-box;
  padding: 0.63rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr 10fr / 1fr;
  place-items: center;

  .arrowToggleButton{

    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    aspect-ratio: 1/1;
  
    div{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  // .spinnerContainer{
    
  //   container-type: size;
  //   aspect-ratio: 1/1;
    
  //   margin: 0;
  //   color: white;
    
  //   font-family: $default-font;
  //   font-size: $font-size-small;
  //   font-weight: 500;

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

    
  // }

  span{
    aspect-ratio: 1/1 !important;
    height: min(10cqh, 3rem) !important;
    width:  min(10cqh, 3rem) !important;
  }

  .bar{
    width: min(40%, 1.2rem);
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .topBar{
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: #A0A0A0;
  
  }
  
  .bottomBar{
    background-color: #666666;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  
  .middleBar{
    position: absolute;
    background-color: #B37E5F;
    width: 100%;
    height: 1px;
  }
}





