@import '../../styles/Fonts.scss';
@import '../../styles/Variables.module.scss';

$border-radius: 10px;

:export{
  borderRadius: $border-radius
}

.container{
  box-sizing: border-box;
  padding: 0.63rem;
  width: 100%;
  height: 100%;
  align-content: center;

  p{
    margin: 0;
    display: flex;
    flex: 0 0 auto;
    color: white;
    
    font-family: $default-font;
    font-size: $font-size-small;
    font-weight: 500;
  }
}

.bar{
  flex: 1;
  margin: 0.63rem;
  width: 0.9rem;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.topBar{
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: #A0A0A0;

}

.bottomBar{
  background-color: #666666;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.middleBar{
  position: absolute;
  background-color: #B37E5F;
  width: 100%;
  height: 1px;
}

.arrowToggleButton{

  $length: 30px;
  width: $length;
  height: $length;
  padding: 5px;

  div{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}