.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    container-type: size;

    .board{
        height: min(100cqh, 100cqw);
        width: min(100cqh, 100cqw);
        aspect-ratio: 1/1;
 
        // width: min(100cqh, 100cqw);
        // height: min(100cqh, 100cqw);
    }
}