body{
  margin: 0;
}

.container{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background: linear-gradient(var(--bg-color-light), var(--bg-color-dark));
}

.boardParent{
  flex:1;
  height: 100%;

}
