.parent{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.container{
  display: flex;
  width: fit-content;
  align-items: center;
}

.container > div{
  flex: 1;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  height: 100%;
  border-radius: 3px;
}

.buttonImage{
  border-radius: 2px;
  height: 100%;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}