@import './Colors.scss';
@import './Fonts.scss';

$image-length: 30px;
$border-radius: 7px;

.content{
	height: 100%;
  	background-color: $sidebar-bg;
	margin: 0px;
	display: flex;
	flex-direction: column;
}

.dbSelection{
	color: white;
	font-family: $default-font;
	align-items: center;
	display: flex;
	flex-direction: row;
	background-color: $bg-color-light;
	flex: 0 0 30px;

	div{
		border-radius: $border-radius $border-radius 0px 0px;
		padding: 5px 10px;
		font-size: 20px;
		font-weight: 500;
		display: flex;
		align-items: center;

		img{
			margin: 10px;
			height: $image-length;
			width: $image-length;
		}
	}
}

.menuContent{
	border-radius: 0px 0px $border-radius $border-radius;
	flex: 1 1 0px;
	width: 100%;
	background-color: $sidebar-bg-light;
}