@import './Variables.scss';

.parent{
  font-size: $font-size-medium;
  width: 100%;
  height: $sidebar-section-height;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;

  p{
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  div{
    display: flex;
    width: fit-content;
    align-items: center;
  }
}
