@import './Colors.scss';
@import './Fonts.scss';

$image-length: 30px;
$border-radius: 7px;

@mixin text-mixin(){
	color: white;
	font-family: $default-font;
	font-size: 20px;
	font-weight: 500;
}

.content{
	height: 100%;
  	background-color: $sidebar-bg;
	margin: 0px;
	display: flex;
	flex-direction: column;
}

.dbSelection{
	@include text-mixin();
	align-items: center;
	display: flex;
	flex-direction: row;
	background-color: $bg-color-light;
	flex: 0 0 30px;

	div{
		border-radius: $border-radius $border-radius 0px 0px;
		padding: 5px 10px;
		
		display: flex;
		align-items: center;

		img{
			margin: 10px;
			height: $image-length;
			width: $image-length;
		}
	}
}

.menuContent{
	border-radius: 0px 0px $border-radius $border-radius;
	flex: 1 1 0px;
	width: 100%;
	background-color: $sidebar-bg-light;
}

.mastersView{
	@include text-mixin();

	div{
		align-items: center;
		display: flex;
		margin: 10px;
		::placeholder{
			color: white;
		}
	}

	input{
	
		@include text-mixin();
		outline: none;
		font-size: 15px;
		background-color: transparent;
		margin: 0px 10px;
		height: 20px;
	}
}

.lichessView{

}

.playerView{

}