$border-radius: 10px;

.bar{
 
  margin: 10px;
  width: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar{
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: #A0A0A0;
}

.bottomBar{
  background-color: #666666;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.middleBar{
  position: absolute;
  background-color: #B37E5F;
  width: 100%;
  height: 1px;
}