.sidebar{
  height: 100%;
  width: 10px;
  flex:1;
  background-color: var(--primary-bg-color);
  max-width: 400px;
  color: white;
  font-family: var(--default-font);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > p{
  margin: 20px;
  text-align: center;
}
