@import './Colors.scss';

$button-length: 30px;
$sidebar-section-height: 50px;

$font-size-tiny: 15px;
$font-size-small: 20px;
$font-size-medium: 30px;
$font-size-large: 35px;

:export{
    sidebarBg: $bg-color-light;
    sidebarBgLight: $sidebar-bg-light;
}

