.container{
  height: 30px;
  display: flex;
  flex-direction: row;
}

.container div{
  height: 100%;
}

.blackBar{
  background-color: #3C3C3C;
}

.drawBar{
  background-color: #6B6B6B;
}

.whiteBar{
  background-color: #BCBCBC;
}