@import '../../../../src/styles/Variables.module.scss';
@import '../../../../src/styles/Colors.scss';

.main{
  height: 100%;
  width: 100%;
  background: linear-gradient($bg-color-light, $bg-color-dark);
  display: grid;
  grid-template: minmax(4rem, 1fr) 10fr / 0.1fr 1fr 0.1fr 1fr;
}


