@import '../../../../src/styles/Variables.module.scss';
@import '../../../../src/styles/Colors.scss';

.main{
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient($bg-color-light, $bg-color-dark);
  display: grid;
  grid-template: minmax(4rem, 1fr) 10fr / 1fr 1.5fr 0.15fr 1fr;
}

body{
  margin: 0;
  overflow-x: hidden;
}


