@import '../../styles/Variables.module.scss';

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;

  > p{
    text-align: center;
    padding: 0px 15px;
    font-size: $font-size-small;
  }

}