@import '../../../styles/Colors.scss';

.main{
    display: grid;
    grid-auto-flow: row;
    background: linear-gradient($bg-color-light, $bg-color-dark);
    // height: 100%;
    width: 100%;
    grid-template: minmax(4rem, 1fr) 100cqw 6fr / 1fr;

    .boardContainer{
        display: grid;
        grid-template: 1fr / 5fr 1fr;
    }
}