@import '../../styles/Variables.module.scss';
@import '../../styles/Colors.scss';
@import '../../styles/Fonts.scss';
@import '../../styles/Mixins.module.scss';

.sidebar{
  // box-sizing: border-box;
  margin-left: 30px;
  height: 100%;
  flex:1 1 0;
  background-color: $sidebar-bg;
  max-width: 500px;
  min-width: 460px;
  color: white;
  font-family: $default-font;
  border: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px white; 
  align-items: center;

  > :nth-child(odd){
    background-color: $sidebar-bg-light;
    box-shadow: 0 0 2px white;
  }

  > *{
    flex: 1;
  }

  .openingName{
    min-height: 10%;
    flex: 0 0 10%;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    margin: 0px 10px;
    padding: 20px 5px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .winrateBarContainer{
    flex: 0 1 3%;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .noMoreGame{
    box-sizing: border-box;
    padding: 0 0.5cqw;
    flex: 0 1 10%;
    @include text-mixin();
    font-weight: 500;
    font-size: 2.5cqh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .moveStatsContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 1 10%;
  }
  
}



