@import '../../styles/Variables.module.scss';
@import '../../styles/Colors.scss';
@import '../../styles/Fonts.scss';
@import '../../styles/Mixins.module.scss';

.main{
  
  outline: 1px solid white;
  width: 30rem;
  height: fit-content;

  .topOptions{

    padding: 0.5rem;
    display: flex;
    align-items: center;
    outline: 1px solid red;

    .topOptionButton{
      height: 3rem;
      outline: 1px solid blue;
      padding: 0.5rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }

  }

  .content{
    
  }

}