@import '../../styles/Variables.module.scss';
@import '../../styles/Colors.scss';
@import '../../styles/Fonts.scss';
@import '../../styles/Mixins.module.scss';

.sidebar{
  // background-color: red;
  // min-width: 26.25rem;
  max-width: 30rem;
  // min-height: 35rem;
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  grid-template: 1fr 0.6fr 1fr 0.6fr 0.6fr 1fr 1fr 1fr / 1fr;
  height: 100%;
  width: 100%;
  margin: auto;

  // background-color: $sidebar-bg;
  border-radius: 0.31rem;
 
  // box-shadow: 0px 0px 1px white; 

  > :nth-child(odd){
    background-color: $sidebar-bg-light;
    box-shadow: 0 0 2px white;
  }

  > :nth-child(even){
    box-shadow: 0px 0px 2px white; 
  }

  .openingName{
    container-type: size;
    box-sizing: border-box;
    border-radius: 0.31rem 0.31rem 0 0;
    margin: 0;
    padding: 1cqh 0.31rem;
    text-align: center;
    width: 100%;
    align-content: center;
    
  }
  
  .winrateBarContainer{
    container-type: size;
    box-sizing: border-box;
    padding: 1cqh 0.63rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .noMoreGame{
    box-sizing: border-box;
    padding: 0 0.5cqw;
    flex: 0 1 10%;
    @include text-mixin();
    font-weight: 500;
    font-size: 2.5cqh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .moveStatsContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 1 10%;
  }
  
}



