@import '../../../styles/Variables.module.scss';

.container{

  p{
    margin: 0;
    // font-size: 2cqh;
  }

  flex: 0 0 1cqh;
  
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  input{
    flex: 1;
    background: rgba(0, 0, 0, 0);
    border: none;
    // font-size: 1cqh;
    color: white;
    outline: none;
    margin: 1cqh;
  }

  .copyButton{

    padding: 0.31rem;
    border-radius: 0.31rem;
    aspect-ratio: 1/1;
    height: 60%;
  
    .copyButtonIcon{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../../../../public/images/copy.png');
    }
  }

  .openingBookIcon{
    background-image: url('../../../../public/images/book.png');
  }
  
  
}
