@import '../../styles/Variables.module.scss';

.parent{
  font-size: 30px;
  width: 100%;
  height: $sidebar-section-height;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;

  p{
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
}

.container{
  display: flex;
  align-items: center;

}