@import '../../../styles/Variables.module.scss';

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex : 1 1 0;

  > p{
    margin: 0%;
    text-align: center;
    padding: 0px 15px;
    
  }

}