@import '../../../styles/Mixins.module.scss';

.mastersView{
	
	@include text-mixin();

	div{
		align-items: center;
		display: flex;
		margin: 10px;
		::placeholder{
			color: white;
		}
	}

	input{
	
		@include text-mixin();
		outline: none;
		font-size: 15px;
		background-color: transparent;
		margin: 0px 10px;
		height: 20px;
	}
}