@import '../../../styles/Variables.module.scss';

.settingsButton{
  background-image: url("../../../../public/images/setting.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1 1 50px;
}

.mastersDatepickers{
  display: flex;
  flex-direction: row;
}

.lichessView{
  
  // height: 20px;
  flex: 1 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;

  .timeControls{
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    align-items: center;
    padding: 0px 10px;
  }

  .ratings{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    align-items: center;
  }
  
}

.playerView{
  .row1{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    .radioGroupWrapper{
      margin: 0px 20px;
    }
  }
}

.main{
  font-size: $font-size-medium;
  width: 100%;
  height: $sidebar-section-height;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.parent{

  width: 100%;
  display: flex;
  // flex-direction: ;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;

  .selectDatabase{
    width: 200px;
  }

  p{
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  div{
    display: flex;
    width: fit-content;
    align-items: center;
  }
}

.button{
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  font-size: 15px;

  p{
    margin: 0;
  }
}
