@import '../../../styles/Variables.module.scss';

.parent{
  font-size: 2.3cqh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  box-sizing: border-box;
  align-items: center;

  .selectDatabase{
    font-size: 2cqh;
    flex: 0 0 20%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }

  .container{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .button{
      aspect-ratio: 1/1;
      // margin: 0 1rem;
      display: flex;
      flex-direction: column;  
      justify-content: center;
      align-items: center;
      height: 100%;
    
      p{
        margin: 0;
      }

    }
  }
}



